<div class="model-list" id="sidebar">

    <% models.forEach(function(model) { %>

      <a href="/admin/html/api/<%= model.name.toLowerCase() %>" class="model">
        <span class="material-icons">
          <%= model.icon %>
        </span>
        <span class="model-name">
          <%= model.name %>
        </span>
      </a>

      <% }); %>


      <button id="logOutbtn">
        LogOut
      </button>

  </div>