<div class="content">

    <%- partial('../../partials/sidebar.ejs') %>
  
    <div class="main-content">
    <div class="image-content">
      <img src="/images/dashboard.png" class="home-img" alt="homeImage" />
  
      <p>
        Select any thing
      </p>
    </div>
    </div>
  </div>