<div class="content">

    <%- partial('../../partials/sidebar.ejs') %>
        <% if(!hasError) { %>
            <div class="main-content">
                <div class="image-content">
                    <img src="/images/create.png" class="home-img" alt="homeImage" />
    
                    <p>
                        <%= message %> 
                    </p>
                </div>
            </div>
            <% } else { %>
                <div class="main-content">
                    <div class="image-content">
                        <img src="/images/error.png" class="home-img" alt="homeImage" />
        
                        <p>
                            <%= errorMessage %> 
                        </p>
                    </div>
                </div>
                <% } %>
</div>
