<div class="form-div">
    <form  id="form" action="/admin/html/login" method="post"  style="padding: 2em 1em; height: 100vh; overflow: scroll">


        <h1>Log in</h1>

        <fieldset>
            <legend><span class="number">1</span>Your login info</legend>
         

            <label for="mail">Email:</label>
            <input type="email" id="mail" name="emailAddress">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
     
            

        <button type="submit">Log in</button>

        <p>Not an admin? Become <a href="/admin/html/signup">one</a></p>

        <% if (hasError) { %>
            <p style="color: red" > <%= errorMessage %> </p>
            <%} %>

    </form>

</div>

<script>
  window.addEventListener('load', (event) => {
  console.log('page is fully loaded');
  if(window.location.search) {
        let form = document.getElementById('form');
        if(form) {
        form.setAttribute('action', '/admin/html/login' + window.location.search);
    }
    }
});  

</script>
